body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    gap: 20px;
    background-color: var(--screen);
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
img {
    min-width: 100px;;
}

h1 {
    text-align: center;
    margin: 0;
}

.box {
    padding: 15px;
    margin: 0;
    width: 100%;
    max-width: 80%;
    box-sizing: border-box;
    background-color: var(--screen);
    border-radius: 5px;
    border-color: var(--green);
    border: 5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    width: 250px;
    height: 250px;
    margin: 10px 0;
}

.box h2, .box h3 {
    text-align: center;
    margin: 10px 0;
    font-size: 25pt;
}
.box p{
    font-size: 18pt;
}
.box b{
    font-size: 20pt;
}
.box form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.box i{
    font-size: 18pt;
}

.box button {
    padding: 10px;
    background-color: var(--green);
    color: white;
    border: 2px solid var(--dark-green);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'EarlyGameboy', sans-serif;
    font-size: 25pt;
}

.box button:hover {
    background-color: var(--light-green);
}