form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input {
    padding: 10px;
    text-align: center;
    color: var(--dark-green );
    background-color: var(--light-screen);
    border: 4px solid;
    border-color: var(--green);
    border-radius: 5px;
    width:80%;
    font-size: 15pt;
}

button {
    padding: 10px 20px;
    background-color: var(--light-green);
    border-radius: 5px;
    font-size: 12pt;
    color: var(--screen);
}